**/.env

container_monitor/data/*
!container_monitor/data/.gitkeep

log_files/*
!log_files/.gitkeep

backend/build/*
!backend/build/.gitkeep

backend/data/*
!backend/data/.gitkeep

*.pyc
*.sqlite
*.coverage
.DS_Store
*.idea
